<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form id="iTsupportToolbar">
        <p:growl id="iTSupport" showDetail="true" />
        <p:growl id="messages" showDetail="true"/>
        <p:toolbar id="allusers_toolbar">
            <f:facet name="left">
                <p:commandButton value="Active" update="form:messages" ajax="false" actionListener="#{iTSupportTableController.setShowActiveTickets(true)}" />
                <p:commandButton value="Completed" update="form:messages" ajax="false" actionListener="#{iTSupportTableController.setShowActiveTickets(false)}"/>
                <!--
                <p:commandButton id="replyButton" value="Reply" actionListener="#{iTSupportReplyController.setITSupportId(iTSupportTableController.selectedMessage.origMessageId)}"  disabled="#{iTSupportTableController.replyButtonState()}"/>
                <p:commandButton id="replyButton2" value="Reply2" actionListener="#{iTSupportReplyController.setITSupportId(iTSupportTableController.selectedMessage.origMessageId)}" disabled="#{iTSupportTableController.replyButtonState()}"/>
                -->
            </f:facet>

        </p:toolbar>
        <p:sticky target="allusers_toolbar" />
    </h:form>
</ui:composition>

