<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Ticket System</title>
    </h:head>
    <h:body>
        <ui:include src="#{userView.getToolbar()}" />
        <p:layout style="min-width: 400px;min-height: 495px">
            <p:layoutUnit position="west" resizable="false" size="200">
                <ui:include src="#{userView.getMenubar()}"/>
            </p:layoutUnit>
            <p:layoutUnit position="center">  
                <p:growl id="messages" showDetail="true" />
                <h:form>
                    <p>
                        <p>
                            <label>Title:
                                <h:inputText value="#{iTSupportReplyController.itReply.replyTitle}"/>
                            </label>
                        </p>
                        <p>
                            <label>Message:
                                <h:inputTextarea value="#{iTSupportReplyController.itReply.replyContent}"/>
                            </label>
                        </p>
                    </p>
                    <h:commandButton value="Send" action="#{iTSupportReplyController.addUserReply()}"/>
                    <h:button value="Cancel" outcome="ticketList"/>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

