<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Table</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" >
                <ui:include src="#{userView.getToolbar()}" />
                <ui:include src="/allusers/ITSupport/iTSupportToolbar.xhtml"/>
                <p:separator />
            </p:layoutUnit>
            <p:layoutUnit position="west">
                <ui:include src="#{userView.getMenubar()}"/>
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <p:layout>
                    <p:layoutUnit position="center" size="40%">
                        <h:form id="form">
                            <p:growl id="messages" showDetail="true" />
                            <p:dataTable id="eventsDT" var="supportMessage" value="#{iTSupportTableController.fetchUserTable()}" selectionMode="single" selection="#{iTSupportTableController.selectedMessage}" rowKey="#{supportMessage.tableId}">
                                <f:facet name="header">
                                    IT Support Tickets
                                </f:facet>
                                <p:ajax event="rowSelect" listener="#{iTSupportTableController.onRowSelectUser}" update=":form2:messageBox :form:eventsDT :form:writeMessageButton" />
                                <p:ajax event="rowUnselect" listener="#{iTSupportTableController.onRowUnselect}" update=":form2:messageBox :form:eventsDT :form:writeMessageButton" />
                                <p:column headerText="Tickets">
                                    <h:outputText value="#{supportMessage.tableTitle}" style="#{supportMessage.style}"/>
                                </p:column>
                                <p:column headerText="Status" style="width: 80px">
                                    <h:outputText value="#{supportMessage.status}" />
                                </p:column>
                                <p:column headerText="Sender Name" style="width: 140px">
                                    <h:outputText value="#{iTSupportTableController.getFullnameFromId(supportMessage.sentUserId)}" />
                                </p:column>
                                <p:column headerText="Sent Time" style="width: 140px">
                                    <h:outputText value="#{supportMessage.sentTime}" />
                                </p:column>
                                <p:column visible="false">
                                    <h:outputText value="#{supportMessage.tableId}"/>
                                </p:column>
                                <p:column visible="false">
                                    <h:outputText value="#{supportMessage.origMessageId}"/>
                                </p:column>
                            </p:dataTable>
                            <p:button id="writeMessageButton" value="Write Message" outcome="writeMessage"/>
                            <p>
                            </p>
                        </h:form>
                    </p:layoutUnit>
                    <p:layoutUnit position="south" size="40%">
                        <h:form id="form2"> 
                            <p>
                                <label>
                                    <h:inputTextarea id="messageBox" value="#{iTSupportTableController.iTSupportMessage}" rows="20" style="width: 95%;" readonly="true"/>
                                </label>
                            </p>
                        </h:form>
                    </p:layoutUnit>
                </p:layout>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

