<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Home</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north">
                <ui:include src="#{userView.getToolbar()}" />
            </p:layoutUnit>
            <p:layoutUnit position="west">
                <ui:include src="#{userView.getMenubar()}" />
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <p:growl id="messages" showDetail="true" />
                <h1 align="center">Home</h1>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

