<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    
        <h:form>
            <p:menu style="margin-left:auto; margin-right:auto;">
                <p:submenu label="Accounts">
                    <p:menuitem value="Manage Accounts" outcome="/sysadmin/account-management/accountManagement.xhtml"/>
                </p:submenu>
                <p:submenu label="Lev Enterprise">
                    <p:menuitem value="Message System" outcome="/faces/allusers/Message/table.xhtml"/>
                    <p:menuitem value="IT Support(IT)" outcome="/faces/sysadmin/ITSupport/ticketList.xhtml"/>
                    <p:menuitem value="IT Support(Users)" outcome="/faces/allusers/ITSupport/ticketList.xhtml"/>
                </p:submenu>
                <p:menuitem value="Logout" action="#{accountController.logout()}"/>
            </p:menu>
        </h:form>
    
</ui:composition>