<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form id="messagebusToolbar">
        <p:growl id="messagebus" showDetail="true" />
            <p:growl id="messages" showDetail="true" />
        <p:toolbar id="allusers_toolbar">
            <f:facet name="left">
                <p:commandButton value="Inbox" ajax="false" actionListener="#{messageBusController.setShowReceivedMessages(true)}"/>
                <p:commandButton value="Sent" ajax="false" actionListener="#{messageBusController.setShowReceivedMessages(false)}"/>
            </f:facet>
        </p:toolbar>
        <p:sticky target="allusers_toolbar" />
    </h:form>
</ui:composition>