<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Message System</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true" >
            <p:layoutUnit position="north">
                <ui:include src="#{userView.getToolbar()}" />
                <ui:include src="/allusers/Message/messagebusToolbar.xhtml" />
                <p:separator/>
            </p:layoutUnit>
            <p:layoutUnit position="west">
                <ui:include src="#{userView.getMenubar()}"/>
            </p:layoutUnit>
            <p:layoutUnit position="center" >
                <p:layout>
                    <p:layoutUnit position="center" size="50%">
                        <p:growl id="messages" showDetail="true" />
                        <h:form id="form">
                            <p:dataTable id="eventsDT" var="message" value="#{messageBusController.messages}" selectionMode="single" selection="#{messageBusController.selectedMessage}" rowKey="#{message.messageId}">
                                <f:facet name="header">
                                    Messages
                                </f:facet>
                                <p:ajax event="rowSelect" listener="#{messageBusController.onRowSelect}"  update=":form2:messageBox :form:eventsDT" >
                                    <f:param name="index" value="true" />
                                </p:ajax>
                                <p:ajax event="rowUnselect" listener="#{messageBusController.onRowUnselect}"  update=":form2:messageBox :form:eventsDT" />
                                <p:column headerText="Message Title">
                                    <h:outputText value="#{message.messageTitle}" style="#{messageBusController.style(message.read)}" />
                                </p:column>
                                <p:column headerText="Sender Fullname" style="width: 180px">
                                    <h:outputText value="#{accountController.getNameFromID(message.senderId)}" style="#{messageBusController.style(message.read)}" />
                                </p:column>
                                <p:column headerText="Sent Time" style="width: 140px">
                                    <h:outputText value="#{message.sentTime}" style="#{messageBusController.style(message.read)}" />
                                </p:column>
                                <p:column headerText="Read Time" style="width: 140px">
                                    <h:outputText value="#{message.readTime}" style="#{messageBusController.style(message.read)}" />
                                </p:column>
                                <p:column visible = "false">
                                    <h:outputText value="#{message.messageId}" style="#{messageBusController.style(message.read )}" />
                                </p:column>
                            </p:dataTable>
                            <p><h:button value="Write Message" outcome="writeMessage"/></p>
                        </h:form>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="50%">
                        <h:form id="form2">
                            <p>
                                <label>
                                    <h:inputTextarea id="messageBox" value="#{messageBusController.fullMessage}" rows="20" style="width: 95%;" readonly="true"/>
                                </label>
                            </p>
                        </h:form>
                    </p:layoutUnit>
                </p:layout>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>