<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Message System</title>
    </h:head>
    <h:body>
        <ui:include src="#{userView.getToolbar()}" />
        <p:layout style="min-width: 400px;min-height: 495px">
            <p:layoutUnit position="west" resizable="false" size="200">
                <ui:include src="#{userView.getMenubar()}"/>
            </p:layoutUnit>
            <p:layoutUnit position="center">  
            <p:growl id="messages" showDetail="true" />
                <h:form>
                    <p>
                        <p>
                            <label>To:
                                <h:selectOneMenu value="#{messageBusController.writeMessage.receiverId}">
                                    <f:selectItem itemValue="#{null}" itemLabel="-- select one --" />
                                    <f:selectItems value="#{userView.userList.entrySet()}" var="entry"
                                                   itemValue="#{entry.key}" itemLabel="#{entry.value}" />
                                </h:selectOneMenu>
                            </label>
                        </p>
                        <p>
                            <label>Title:
                                <h:inputText value="#{messageBusController.writeMessage.messageTitle}"/>
                            </label>
                        </p>
                        <p>
                            <label>Message:
                                <h:inputTextarea value="#{messageBusController.writeMessage.messageContent}"/>
                            </label>
                        </p>
                    </p>
                    <h:commandButton value="Send" action="#{messageBusController.addMessage(user.getUserId())}"/>
                    <h:button value="Cancel" outcome="table"/>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

