<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    
        <h:form>
            <p:growl id="messages" showDetail="true" />
            <p:toolbar id="allusers_toolbar">
                <f:facet name="left">
                    <p:button value="Home" outcome="/faces/allusers/welcome.xhtml"/>
                    <p:button value="Message System" outcome="/faces/allusers/Message/table.xhtml"/>
                    <p:button value="IT Support" outcome="/faces/allusers/ITSupport/ticketList.xhtml"/>
                </f:facet>
                
                <f:facet name="right">
                    <p:commandButton value="Logout" action="#{accountController.logout()}" />                    
                </f:facet>
                
            </p:toolbar>
            <p:sticky target="allusers_toolbar" />
        </h:form>
</ui:composition>