<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Home</title>
    </h:head>
    <h:body>
            <p:growl id="messages" showDetail="true" />
        <h:form>
            <h1 align="center">Home</h1>
            <p:menu style="margin-left:auto; margin-right:auto;">
                <p:submenu label="Lev Enterprise">
                    <p:menuitem value="Message System" outcome="/faces/allusers/Message/table.xhtml"/>
                    <p:menuitem value="IT Support" outcome="/faces/allusers/ITSupport/ticketList.xhtml"/>
                    <p:menuitem value="Logout" action="#{accountController.logout()}"/>
                </p:submenu>
            </p:menu>
        </h:form>
        
    </h:body>
</html>

