<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>Account Management</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north">
                <ui:include src="#{userView.getToolbar()}"/>
                <p:separator/>
            </p:layoutUnit>
            <p:layoutUnit position="west" >
                <ui:include src="#{userView.getMenubar()}"/>
            </p:layoutUnit>
            <p:growl id="messages" showDetail="true" />
            <p:layoutUnit position="center">  
                <p:dataTable var="accountDTO"  value="#{accountController.accounts}" resizableColumns="true" liveResize="true" >
                    <p:column headerText="Username">
                        <h:outputText value="#{accountDTO.username}"/>
                    </p:column>
                    <p:column headerText="Name">
                        <h:outputText value="#{accountDTO.firstname} #{accountDTO.lastname}"/>
                    </p:column>
                    <p:column headerText="User Group">
                        <h:outputText value="#{accountDTO.groupname}"/>
                    </p:column>
                    <p:column headerText="Email">
                        <h:outputText value="#{accountDTO.email}"/>
                    </p:column>
                    <p:column headerText="Edit">
                        <h:link value="Edit" outcome="editAccount">
                            <f:param name="index" value="#{accountDTO.username}"/>
                        </h:link>
                    </p:column>
                    <p:column headerText="Delete">
                        <h:link value="Delete" outcome="deleteAccount">
                            <f:param name="index" value="#{accountDTO.username}"/>
                        </h:link>
                    </p:column>
                </p:dataTable>
            </p:layoutUnit>
            <h:button value="Add" outcome="addAccount"/>
        </p:layout>
    </h:body>
</html>

