<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Lev-Enterprise</title>
    </h:head>
    <h:body>
        <ui:include src="#{userView.getToolbar()}"/>
        <p:layout style="min-width: 400px;min-height: 495px">
            <p:layoutUnit position="west" resizable="false" size="200">
                <ui:include src="#{userView.getMenubar()}"/>
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <h1>Add New User</h1>
                <h:form>
                    <p:growl id="messages" showDetail="true" />
                    <p>
                        <label>Username:
                            <h:inputText value="#{accountController.account.username}"/>
                        </label>
                    </p>
                    <p>
                        <label>Password:
                            <h:inputSecret value="#{accountController.account.password}"/>
                        </label>
                    </p>
                    <p>
                        <label>Email Address:
                            <h:inputText value="#{accountController.account.email}"/>
                        </label>
                    </p>
                    <p>
                        <label>First Name:
                            <h:inputText value="#{accountController.account.firstname}"/>
                        </label>
                    </p>
                    <p>
                        <label>Last Name:
                            <h:inputText value="#{accountController.account.lastname}"/>
                        </label>
                    </p>

                    <label>Access Group:
                        <h:selectOneMenu value="#{accountController.account.groupname}">
                            <f:selectItem itemValue="Users" itemLabel="User" />
                            <f:selectItem itemValue="Sysadmin" itemLabel="System Admin"/>				
                        </h:selectOneMenu>	
                    </label>
                    <p>
                        <h:commandButton value="Save" action="#{accountController.saveAsNew}"/>
                    </p>
                </h:form>
                <h:messages/>
            </p:layoutUnit>
    </h:body>
</p:layout>
</html>

