<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <p:growl id="messages"/>
        <h1 align="center">Login</h1>
        <h:form>
            <p align="center">
                <label>Username:
                    <p:inputText value="#{accountController.account.username}" validatorMessage="Please enter a name with more than 1 value"/>
                </label>
            </p>
            <p align="center">
                <label>Password:
                    <p:password value="#{accountController.account.password}" validatorMessage="Please enter a group size between 1 and 20"/>
                </label>
            </p>
            <p align="center">
                <p:commandButton value="Login" action="#{accountController.login()}" />
            </p>
        </h:form>
    </h:body>
</html>