<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Logout</title>
    </h:head>
    <h:body>
        <p:growl id="messages" showDetail="true" />
        <p align="center">You have logged out!</p>
        <p align="center"><h:link value="Back to Login" outcome="/login.xhtml"/></p>
    </h:body>
</html>

