<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    
        <p:layout style="min-width: 400px;min-height: 495px">
            <p:layoutUnit position="west" resizable="false" size="200">
                <ui:include src="#{userView.getMenubar()}"/>
            </p:layoutUnit>
            <p:layoutUnit position="center">  
            </p:layoutUnit>
        </p:layout> 
</html>

